<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhv7w5liulGwGtWkMFHRK0JjOGSdaAwqs</string>
	<key>GCM_SENDER_ID</key>
	<string>98534781608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coralogix.DemoAppSwift</string>
	<key>PROJECT_ID</key>
	<string>demoappswift-3e1d7</string>
	<key>STORAGE_BUCKET</key>
	<string>demoappswift-3e1d7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98534781608:ios:fc5e98e1f1911a3856089d</string>
</dict>
</plist>