.DS_Store
/.build
/Packages
/archives
/artifacts
/frameworks
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm/

# Ignore secret config
Secrets.swift
Example/envs.swift

# Ignore tech debt documentation
tech-debt/